@model IEnumerable<Commodity.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/styleCom.css" rel="stylesheet">

<div class="container-fluid bg-light p-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h1 class="display-4 text-primary">ProductCategory</h1>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryName)
            </td>
            <td>
            
                    <a asp-action="Details" asp-route-id="@item.ProductCategoryId">
                        <i class="fas fa-eye"></i>
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.ProductCategoryId">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductCategoryId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class ="text-center">
    <a asp-controller="Products" asp-action="Index" class="btn btn-secondary mr-2"><i class="fas fa-arrow-left"></i></a>
</div>